@mixin flex-center($justify: space-between) {
    display: flex;
    align-items: center;
    justify-content: $justify;
  }
  
@mixin no-select {
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
}
